// 1. Abstracts (Variables y Mixins)
// Usamos 'as *' para poder usar las variables sin escribir 'variables.$color'
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// 2. Base
@use 'base/reset';

// 3. Layout
@use 'layout/hero';
@use 'layout/grids';
@use 'layout/footer';
@use 'layout/hero';
@use 'layout/grids';


// 4. Componentes
// ...

// 4. Componentes
@use 'components/navbar';
@use 'components/cards';


// 5. Clases Utilitarias (El bucle)
// Como ya cargamos las variables arriba con 'as *', podemos usar $theme-colors directo
@each $name, $color in $theme-colors {
    .text-#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background-color: $color !important;
    }
}