@use '../abstracts/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-bg !important;
    color: $text-white !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}