@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;

.hero {
    height: 85vh;
    position: relative;
    background-image: linear-gradient(to top, $dark-bg 10%, transparent 50%),
                      linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, transparent 30%), 
                      url('../img/fondo-streamflix.png'); 
    background-size: cover;
    background-position: center top;

    @include mobile {
        height: 60vh;
        background-position: center;
    }

    &-title { // SASS permite concatenar nombres de clases
        text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
        
        @include mobile {
            font-size: 2.5rem;
        }
    }

    &-description {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        max-width: 700px;
    }
}