// Paleta de Colores
$primary-color: #e50914;
$dark-bg: #141414;
$card-bg: #1f1f1f;
$text-white: #ffffff;
$text-gray: #b3b3b3;

// Mapa de Colores (Para cumplir con el requisito de Mapas/Operadores)
$theme-colors: (
    "primary": $primary-color,
    "dark": $dark-bg,
    "light": $text-white
);